.body {
    background-image: linear-gradient(to right, #7FFFD4);
}

.padding-top {
    padding-top: 30vh;
}

.beranda {
    background: url("/data1/images/beranda.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Fredoka One', cursive;
}

.beranda .max-width {
    width: 100%;
    display: flex;
}

.beranda .max-width .row {
    margin-right: 0;
}

.beranda .content-beranda {
    margin: 150px;
    margin-top: 170px;
}

.beranda .content-beranda .title-home {
    color: #030303;
    font-weight: 600;
    font-size: 35px;
}

.beranda .content-beranda .title-home2 {
    color: #030303;
    font-size: 75px;
    font-weight: 600;
}

.beranda .content-beranda a {
    display: inline-block;
    background: #ffff;
    color: #030303;
    font-size: 25px;
    padding: 10px 30px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #151e24;
    transition: all 0.3s ease;
}

.beranda .content-beranda a:hover {
    color: #ffff;
    background: none;
}