* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.banner {
    margin: 200px 90px 0px 90px;
}

.banner h1,
h3 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.row {
    margin-left: 300px;
    padding: 70px;
}

.btn {
    padding: 20px;
    border-radius: 15%;
}

.row :hover {
    background-color: #ffff;
    color: black;
}